<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/font-awesome.css" rel="stylesheet"/>
    <link href="../css/basic.css" rel="stylesheet"/>
    <link href="../css/custom.css" rel="stylesheet"/>
    <link href="../css/my.css" rel="stylesheet"/>
    <link href="../css/element/index.css" rel="stylesheet"/>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">后台管理系统</a>
        </div>
        <div class="header-right">
            <a href="javascript:void(0)" class="btn btn-info" @click="logout" title="退出登录">
                <i class="fa fa-sign-out fa-2x"></i>
            </a>
        </div>
        <div class="header-right">
            <a href="accountUserInfo.html" class="btn btn-info" title="跳转到个人信息">
                <i class="fa fa-user fa-2x"></i>
            </a>
        </div>
        <div class="header-right" style="padding-top: 25px">
            欢迎您，{{user.nickname}}
        </div>
    </nav>

    <nav class="navbar-default navbar-side">
        <div class="sidebar-collapse">
            <div class="nav" id="main-menu">
                <li>
                    <a href="index.html"><i class="fa fa-dashboard"></i> 系统首页 </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-yelp"></i>信息展示<span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level collapse in">
                        <li><a class="active-menu" href="userInfo.html"><i class="fa fa-table"></i>用户信息 </a> </li>
                        <li><a href="advertiseInfo.html"><i class="fa fa-table"></i>公告信息 </a> </li>
                        <li><a href="goodsInfo.html"><i class="fa fa-table"></i>商品类别 </a> </li>
                        <li><a href="orderInfo.html"><i class="fa fa-table"></i>订单信息 </a> </li>
                        <li><a href="cartInfo.html"><i class="fa fa-table"></i>购物车信息 </a> </li>
                        <li><a href="commentInfo.html"><i class="fa fa-table"></i>评价信息 </a> </li>
                    </ul>
                </li>
                <li><a href="accountUserInfo.html"><i class="fa fa-user"></i>个人信息 </a> </li>
                <li><a href="accountUserInfo.html"><i class="fa fa-unlock"></i>修改密码 </a> </li>
                <li><a href="javascript:void(0)" @click="logout"><i class="fa fa-power-off"></i>退出登录 </a> </li>
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            用户信息列表
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <div class="nx-table-header">
                                    <button class="btn btn-sm btn-primary">新增</button>
                                    <input type="text" placeholder="请输入搜索内容" v-model="name" @keyup.enter="loadTable(1)">
                                    <i class="glyphicon glyphicon-search"></i>
                                </div>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>账号</th>
                                            <th>昵称</th>
                                            <th>性别</th>
                                            <th>年龄</th>
                                            <th>手机号</th>
                                            <th>地址</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="obj in objs">
                                        <tr>
                                            <td>{{obj.id}}</td>
                                            <td>{{obj.name}}</td>
                                            <td>{{obj.nickname}}</td>
                                            <td>{{obj.sex}}</td>
                                            <td>{{obj.age}}</td>
                                            <td>{{obj.phone}}</td>
                                            <td>{{obj.address}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.metisMenu.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/my.js"></script>
<script src="../js/vue2.6.11/vue.min.js"></script>
<script src="../js/vue2.6.11/axios.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/element/index.js"></script>

<script>
    function msg(type,msg) {
        Vue.prototype.$message({
            type:type,  //success（成功），warning（警告），error（错误）
            message:msg,
            duration:2000,
            offset:100,
            center:true
        })
    }

    new Vue({
        el:"#wrapper",
        data:{
            user:{},
            name:'',
            objs:[],
            pageInfo:{},
            preActive:true,     //有上一页为false，没有为true
            nextActive:true     //有下一页为false，没有为true
        },
        created:function () {
            this.user = JSON.parse(localStorage.getItem('user'));
            this.loadTable(1);
            },
        methods:{
            loadTable(pageNum){
                let name = this.name === '' ? 'all' : this.name;
                axios.get("/userInfo/page/"+name+"?pageNum="+pageNum).then(res => {
                   if (res.data.code === '0'){
                       this.objs = res.data.data.list;
                       this.pageInfo = res.data.data;
                       this.preActive = !(this.pageInfo.hasPreviousPage);
                       this.nextActive = !(this.pageInfo.hasNextPage);
                   }else{
                        msg('error',res.data.msg);
                   }
                });
            }
        }
    });
</script>
</body>
</html>