<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaclimb.mapper.AdvertiserInfoMapper">
  <resultMap id="BaseResultMap" type="com.javaclimb.entity.AdvertiserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.javaclimb.entity.AdvertiserInfo">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <select id="findByName" resultType="com.javaclimb.entity.AdvertiserInfo">
    select * from advertiser_info
    where 1=1
    <if test="name != null and name != 'all' and name != ''">
      and `name` like concat('%',#{name},'%')
    </if>
    order by `time` desc
  </select>
</mapper>