<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaclimb.mapper.CommentInfoMapper">

    <select id="findByContent" resultType="com.javaclimb.entity.CommentInfo">
        select  a.*,b.name as userName,c.name as goodsName
        from comment_info as a
            left join user_info as b on a.userId = b.id
            left join goods_info as c on a.goodsId = c.id
        where 1=1
        <if test="name != null and name != 'all' and name != ''">
            and content like concat('%',#{name},'%')
        </if>
    </select>
    <select id="findByGoodsId" resultType="com.javaclimb.entity.CommentInfo">
        select a.*,u.name as userName
        from comment_info as a
            left join user_info as u on a.userId = u.id
        where goodsId = #{goodsId}
    </select>
</mapper>